sbom-groth16/QBFT-Network/Node-*/data/database/
sbom-groth16/QBFT-Network/Node-*/data/caches/
sbom-groth16/QBFT-Network/Node-*/data/besu.ports

steel/

# 這是 profiling 相關檔案
sbom-risc0/sbom-verify/profile.pb
sbom-risc0/sbom/

node_modules/
package.json
package-lock.json

zkVM-server/node-api/dist/
zkVM-server/node-api/node_modules
zkVM-server/node-api/package-lock.json
zkVM-server/node-api/package.json
zkVM-server/node-api/uploads/
zkVM-server/node-api/proofs/

zkVM-server/ipfs/ipfs_data/

zkVM-server/sbom_service/node_modules
zkVM-server/sbom_service/package-lock.json
zkVM-server/sbom_service/package.json

zk-verifier/target/
